<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
</head>
<body>+
    <div align="center">
        <h1>View User</h1>
        <a href="/">view</a>
    </div>
</body>
</html>