<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= pageneme %></h1>
    <h2>users</h2>
    <table border="1">
      <thead>
        <tr>
            <th>sr no</th>
            <th>name</th>
        </tr>
       </thead>
       <tbody>
          <%  users.map((u,i) =>{ %>
            <tr>
                <td> <%= u.id %></td>
                <td> <%= u.name %></td>
            </tr>
       <%   }) %>
       </tbody>
    </table>
</body>
</html>